body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
}

.nav--bar,
.search--category {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4rem 2rem;
}
.Input--container {
  width: 20%;
  padding: 0.5rem 0.25rem;
  border-radius: 10px;
}
select option[value=''] {
  display: none;
}
.country--container {
  background: white;
  border-radius: 5px;
  border: 2px solid white;
  /* margin: 0 10px; */
  /* width: 15rem; */
}

.Country--flag {
  width: 90%;
  height: 25vh;
}

.line--adjustment {
  line-height: 10px;
  margin: 10px auto;
}
.btn-back {
  width: 2rem;
  height: 2rem;
}
.bold--text {
  font-weight: 800;
  font-size: 1.05rem;
}

@media screen and (max-width: 567px) {
  .Country--flag {
    width: 100%;
  }
  .nav--bar,
  .search--category {
    margin: 0;
  }

  .Input--container {
    width: 45%;
    margin: 0;
  }
}
