body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
}

.nav--bar,
.search--category {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 2rem;
}
.Input--container {
  width: 20%;
  padding: 0.25rem;
}
